.loader-conatainer
    display flex
    justify-content center
    align-items center
    position fixed
    top 0
    height 100%
    width 100%
    background-color rgba(0, 0, 0, 0.2)
    z-index 10000000

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
